<% layout("/layouts/boilerplate")%>

<div class="row">
<div class="alert alert-danger col-6 offset-2" role="alert">
    <h4><i class="bi bi-exclamation-triangle-fill"></i> &nbsp;&nbsp; <%= err.message %></h4>
     
    <!-- <p><%= err.stack %></p>          can print whole error information -->
     
</div>  



</div>


